---
// This page redirects to the homepage Work With Me section
// Keeping it alive for any existing backlinks to /offer
---
<html>
  <head>
    <meta http-equiv="refresh" content="0;url=/#work" />
    <link rel="canonical" href="/" />
    <title>Redirecting...</title>
  </head>
  <body>
    <p>Redirecting to <a href="/#work">Work With Me</a>...</p>
  </body>
</html>
